body {
  font-family: "Arial", "Meiryo", sans-serif;
}

.google-fonts {
  font-family: "Josefin Sans", sans-serif;
}

html {
  font-size: 20px;
}
h1
{
  font-size: 2rem;
}

.text-pink {
  color: pink;
}
.text-skyblue {
  color: skyblue;
}

h1,h2,p{
  text-align: center;
}

h1 {
  letter-spacing: 1.5em;
  text-shadow: 1px 1px 2px gray;
  border-bottom: solid 3px rgb(115, 115, 114);
}
#parent p {
  font-weight: bold;
}